# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
*.env

# MCP server runtime logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Node / npm
node_modules/

# Claud Desktop or local config
.claude/
